
executor {
    $pbspro {
        queueSize = 45
    }
}

process {
	executor = 'pbspro'
	cpus = 1
    queue = 'tillers'
	time = '3h'
	memory = '1 GB'
	shell = ['/usr/bin/bash', '-e']
}

process {
    withLabel: "exclude_reads" {
        memory = '500m'
        time = '1h'
    }
}

process {
    withLabel: "bwa" {
        cpus = 12
	time = '9h'
	memory = '2 GB'
    }
}

process {
    withLabel: "mark_duplicates" {
        time = '7h'
        memory = '7 GB' 
    }
}

process {
    withLabel: "multithreading" {
        cpus = 4
	time = '12h'
	memory = '28 GB'
    }
}

process {
    withLabel: "lumpy" {
        time = '8h'
        memory = '28 GB'
    }
}

process {
    withLabel: "delly" {
        time = '12h'
        memory = '24 GB'
    }
}

process {
    withLabel: "gridss" {
        memory = '72 GB'
        queue = 'tillers'
    }
}

executor {
    name = 'pbspro'
    queueSize = 200
    jobName = { "$task.hash" }
}

docker {
    fixOwnership = true
}

trace {
	enabled = true
	file = 'pipeline_trace.txt'
	fields = 'task_id,name,status,exit,submit,duration,realtime,%cpu,rss'
}
